<ion-view >
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
     <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-nav-title>
    <!--<a href="#/app/filters"><i class="button">
        <i class="ion-android-options">
        </i> filters</i></a> </i> 
     &nbsp;&nbsp;&nbsp;&nbsp; -->
     <img src="img/itlyst-fork-logo.png" style="width: 20px;">
     Admin
     <!--&nbsp;&nbsp;&nbsp;&nbsp; 
     <i class="button"><i class="ion-map"></i>map</i></i>&nbsp;&nbsp;&nbsp;&nbsp;-->
  </ion-nav-title>

  <ion-content>

    <div ui-view="popup@admin"></div>

    <label class="item item-input">
      <span class="input-label">API Server Source</span>
      <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">
        <div class="button-bar" >
          <ion-radio 
              ng-repeat="server in api_servers" 
              ng-model="defaultRadioChecked.radioChecked" 
              ng-value="{{server.name}}" 
              ng-click="changeApiServer(server.name)"
              >
            {{server.name}}
          </ion-radio>
        </div>
      </ion-list>
    </label>

    <br><br>
    <div style="text-align:center;">
    <img src="img/mozza-dessert.jpg" class="thumbnail-lg">
    </div>

  </ion-content>
</ion-view>

