<ion-view >
  <ion-nav-bar class="bar-positive">
  </ion-nav-bar>
  <ion-nav-title>
     <img src="img/itlyst-fork-logo.png" style="width: 20px;">
  </ion-nav-title>
  <ion-content>

  <ion-content>

   <!-- <div ui-view="popup@admin"></div> -->

   Coming Soon ;-D
   <img src="img/eating-stick-figure.jpg">

<!--
    <label class="item item-input">
      <span class="input-label">API Server Source</span>
      <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">
        <div class="button-bar" >
          <ion-radio 
              ng-repeat="server in api_servers" 
              ng-model="defaultRadioChecked.radioChecked" 
              ng-value="{{server.name}}" 
              ng-click="changeApiServer(server.name)"
              >
            {{server.name}}
          </ion-radio>
        </div>
      </ion-list>
    </label>

    <br><br>
    <div style="text-align:center;">
    <img src="img/mozza-dessert.jpg" class="thumbnail-lg">
    </div>

-->

  </ion-content>
</ion-view>

