<ion-view >
  <ion-nav-bar class="bar-positive">
    <!--<ion-nav-buttons side="left">
     <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>-->
  </ion-nav-bar>
  <ion-nav-title>
    <!--<a href="#/app/filters"><i class="button">
        <i class="ion-android-options">
        </i> filters</i></a> </i> 
     &nbsp;&nbsp;&nbsp;&nbsp; -->
     <img src="img/itlyst-fork-logo.png" style="width: 20px;">
     Filters  
     <!--&nbsp;&nbsp;&nbsp;&nbsp;  ø
     <i class="button"><i class="ion-map"></i>map</i></i>&nbsp;&nbsp;&nbsp;&nbsp;-->
  </ion-nav-title>
  <ion-content>
    <div class="list">
      <form>

        <label class="item item-input">
          <span class="input-label">City:</span>
          <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off"
               ng-model="model"
               item-value-key="id"
               item-view-value-key="name"
               items-method="getCities(query)"
               items-method-value-key="items"
               placeholder="{{city_selected}}"
               items-clicked-method="citiesClicked(callback)"
               items-removed-method="itemsRemoved(callback)"
               cancel-label="Cancel"
               max-selected-items="1"/>
          </label>

      <!--
      <label class="item item-input">
        <span class="input-label">Distance (mi)</span>
        <div ng-repeat="distance in zoom_options">
          <a class="button button-small" >{{distance}}</a>
        </div>
      </label>
      -->

        <label class="item item-input">
          <span class="input-label">Zoom (mi)</span>
          <ion-list>
            <div class="button-bar" >
              <ion-radio 
                  name="zoom"
                  ng-repeat="item in zoom_options" 
                  ng-value="item" 
                  ng-model="zoom_selected"
                  ng-click="changeZoom(item)"
                  >
                {{item}}
              </ion-radio>
            </div>
          </ion-list>
        </label>

        <label class="item item-input">
          <span class="input-label">Venue Type</span>
           <ion-list>
            <div class="button-bar small" >
              <ion-radio 
                  name="venue_type"
                  ng-repeat="item in venue_type_options" 
                  ng-value="item"
                  ng-model="venue_type_selected" 
                  ng-click=""
                  >
                <i style="font-size: 75%;">
                  <i ng-if="item == 'food'" class='fa-cutlery'></i> 
                  <i ng-if="item == 'coffee'" class='fa-coffee'></i> 
                  <i ng-if="item == 'place'" class='fa-map-marker'></i> 
                  {{item}}
                </i>
              </ion-radio>
            </div>
          </ion-list>
        </label>

      </form>

      <!-- button-small -->
      <br>&nbsp;<button class="button button-stable button button-positive" style="width:140px;" ng-click="go('app/venues')"><i class="fa-filter"></i> Save Filters </button>
      

    </div>
  </ion-content>
</ion-view>

