<ion-view >
  <ion-nav-bar class="bar-positive">
    <!--<ion-nav-buttons side="left">
     <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>-->
  </ion-nav-bar>
  <ion-nav-title>
    <!--<a href="#/app/filters"><i class="button">
        <i class="ion-android-options">
        </i> filters</i></a> </i> 
     &nbsp;&nbsp;&nbsp;&nbsp; -->
     <img src="img/itlyst-fork-logo.png" style="width: 20px;">
     Filters  
     <!--&nbsp;&nbsp;&nbsp;&nbsp;  ø
     <i class="button"><i class="ion-map"></i>map</i></i>&nbsp;&nbsp;&nbsp;&nbsp;-->
  </ion-nav-title>
  <ion-content>
  
    <form>

      <div class="row">
        <div class="col col-20 input-label">
          City
          <button class="clearbutton location-icon" ng-click="setCurrentLocation()">
            &nbsp;<i class='fa fa-location-arrow'></i>&nbsp;
          </button>
        </div> 
        <div class="col col-80">
          <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete cityinput" autocomplete="off"
             ng-model="tbd"
             item-value-key="google_place_id"
             item-view-value-key="city_display"
             items-method="getCities(query)"
             items-method-value-key="items"
             placeholder="{{city_selected}}"
             items-clicked-method="citiesClicked(callback)"
             items-removed-method="itemsRemoved(callback)"
             cancel-label="Cancel"
             max-selected-items="1"/>
          </label>
        </div>
      </div>


      <!-- Zoom -->
      <div class="row">
        <div class="col col-20">
          <span class="input-label">Zoom</span>
        </div>
        <div class="col col-60">
          <ion-list>
            <div class="button-bar" >
              <ion-radio 
                  name="zoom"
                  ng-repeat="item in zoom_options" 
                  ng-value="item" 
                  ng-model="zoom_selected"
                  ng-click="changeZoom(item)"
                  >
                {{item}}
              </ion-radio>
            </div>
          </ion-list>
        </div>
      </div>

      <!-- Category Type -->
      <!--
      <div class="row">
        <div class="col col-20">
          <span class="input-label">Category</span>
        </div>
        <div class="col col-80">
          <ion-list>
            <div class="button-bar small" >
              <ion-radio 
                  name="venue_type"
                  ng-repeat="item in venue_type_options" 
                  ng-value="item"
                  ng-model="venue_type_selected" 
                  >
                <i style="font-size: 75%;">
                  <i ng-if="item == 'food'" class='fa-cutlery'></i> 
                  <i ng-if="item == 'coffee'" class='fa-coffee'></i>
                  <i ng-if="item == 'place'" class='fa-map-marker'></i> 
                  {{item}}
                </i>
              </ion-radio>
            </div>
          </ion-list>
        </div>
      </div>
      -->

      <!-- Rating -->

      <div class="row">
        <div class="col col-20">
          <span class="input-label">Rating</span>
        </div>
        <div class="col col-60">
           <div id="ur4" class="user-rating selected">
            <i id="4" class="fa fa-2x fa-smile-o rating-icon selected" ng-click="toggleUserRating($event)"></i>
           </div>
           <div id="ur3" class="user-rating">
            <i id="3" class="fa fa-2x fa-meh-o rating-icon" ng-click="toggleUserRating($event)"></i>
           </div>
           <div id="ur2" class="user-rating">
            <i id="2" class="fa fa-2x fa-frown-o rating-icon" ng-click="toggleUserRating($event)"></i>
           </div>
           <div id="ur1" class="user-rating selected">
            <i id="1" class="fa fa-2x fa-thumb-tack rating-icon selected" ng-click="toggleUserRating($event)"></i>
           </div>
           <div id="ur0" class="user-rating selected">
            <i id="0" class="fa fa-2x fa-circle-thin rating-icon selected" ng-click="toggleUserRating($event)"></i>
           </div>
        </div>
      </div>

      <!-- Sort -->
      <div class="row">
        <div class="col col-30">
          <span class="input-label">Sort&nbsp;By</span>
        </div>
        <div class="col col-80">
          <ion-list>
            <div class="button-bar small" >
              <ion-radio 
                  name="sort_by"
                  ng-repeat="item in sort_by_options" 
                  ng-value="item"
                  ng-model="sort_by_selected" 
                  ng-click="changeSort(item)"
                  >
                <i style="font-size: 75%;">
                  <i ng-if="item == 'recent'" class='fa fa-clock-o'></i>
                  <i ng-if="item == 'rating'" class='fa fa-smile-o'></i> 
                  <i ng-if="item == 'distance'" class='fa fa-location-arrow'></i> 
                  {{item}}
                </i>
              </ion-radio>
            </div>
          </ion-list>
        </div>
      </div>


    </form>



      <!-- button-small -->
      <br>&nbsp;<button class="button button-stable button-positive" style="width:120px;" ng-click="go('app/venues')"><i class="fa-filter"></i> Filter </button>
      

    </div>
  </ion-content>
</ion-view>

