<ion-view >
  <ion-nav-bar class="bar-dark black">
  </ion-nav-bar>

  <ion-content scroll="false">
    <ion-slides options="options" slider="data.slider">
      <ion-slide-page>
        <div class="box blue">
          

        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box yellow">
          

        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box pink">
          
          
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>





  <