<!--
https://codepen.io/-kaik-/pen/ONNzWe
-->

<ion-view >
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title>
     <img src="img/itlyst-fork-logo.png" style="width: 20px;">
     <button class="button button-icon icon imagedeletebutton" ng-click="deleteImage(currentImageId)">
      <i class="ion-ios-trash-outline"></i>
     </button>
  </ion-nav-title>

  <ion-content scroll="false" style="background-color: black;">
      <ion-slides options="data.sliderOptions" slider="data.sliderDelegate">
        <ion-slide-page ng-repeat="image in images">
          <div class="imagebox image{{image.id}} imageslide">
            <img src="{{image.image_large}}" class="imageslide">
            <br><br> <font color=white>Lysted from {{image.venue_name}}</font>
          </div>
        </ion-slide-page>
      </ion-slides>
  </ion-content>
</ion-view>

