<ion-view>
   <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title>
     <img src="img/itlyst-fork-logo.png" style="width: 20px;">
     Map  
  </ion-nav-title>

  <ion-content>

    <!--<div ui-view="popup@map"></div>-->

      <!-- Venue Content --> 
  	<body ng-controller="MapCtrl">
  	    <ion-content>
  	      <div id="map" data-tap-disabled="true"></div>
  	    </ion-content>
  	</body>  
    </div>
  </ion-content>
</ion-view>
