


<ion-view>
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
     <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title>
     <img src="img/itlyst-fork-logo.png" style="width: 20px;">
     Map  
  </ion-nav-title>

  <ion-content>
    <!-- Venue Content --> 
	<body ng-controller="MapCtrl">
	    <ion-content>
	      <div id="map" data-tap-disabled="true"></div>
	    </ion-content>
	</body>  
    </div>
  </ion-content>
</ion-view>
