<ion-view style="max-width: 100% !important">
  <ion-nav-bar class="bar-dark black">
  </ion-nav-bar>

  <ion-content class="splash">

  <!--<div ui-view="popup@start"></div>-->

  <body >
    <br><br>
    <div style="text-align:center;">
      <br><br><br><br><br><br>
      <span>
        <img class="animated" src="img/itlyst-fork-logo.png" style="width: 60px;">
        <i class="introtext large">itlyst</h3>
        <h4 class="introtext"> Remember places you want to visit</h3>
      </span>

    <br>
    <div class="row" ng-hide="isLoggedIn" style="height: 140px !important;"></div>
    <div class="row" ng-show="isLoggedIn" style="height: 145px !important;">
      <div class="col col-80 col-offset-10">
        <form>
          <label class="item item-input">
            <span class="input-label searchglass" ><i class="ion-ios-search" ></i></span>
            <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" 
                 ng-model="tbd"
                 item-value-key="google_place_id"
                 item-view-value-key="city_display"
                 items-method="getCities(query)"
                 items-method-value-key="items"
                 placeholder="eg, San Francisco"
                 items-clicked-method="citiesClicked(callback)"
                 items-removed-method="itemsRemoved(callback)"
                 cancel-label="Cancel"
                 multiple-select="false"
                 max-selected-items="1"/>
            </label>
        </form>
        <div ng-show="recent_cities.length > 0">
          <!--<i class=buttonlabel>Recent:</i>-->
            <button class="clearbutton mwhite" ng-repeat="city in recent_cities" ng-click="selectRecentCity(city)" style="margin: 0px 5px 0px 0px;">
              <span ng-if="city.name=='Current Location'">
                <i class="icon ion-ios-navigate-outline" style="color:white"></i> {{city.name}}
              </span>
              <span ng-if="city.name!='Current Location'">
                {{city.name}}
              </span>
            </button>
            <button class="clearbutton mwhite" ng-click="go('app/blank')" >
              <i class="fa-1_5x ion-ios-compose-outline" style="color:white"></i> 
            </button>
          </p>
        </div>
      </div>
      <div class="col col-20"></div>
    </div>
    <br>

    <div>
      
      <button class="clearbutton mwhite mediumfont" ng-click="login()" ng-hide="isLoggedIn">Sign in</button>
      <button class="clearbutton mwhite mediumfont bounceInDown" ng-click="logout()" ng-show="isLoggedIn">Sign Out</button>
      <i class="mediumfont mwhite">or</i>
      <button class="clearbutton mwhite mediumfont" ng-click="signup()">Sign up</button>
      <br><br>
      <!--<button class="clearbutton mwhite mediumfont" ng-click="go('ftue')">Tutorial</button>-->


    </div>

        
  </body>

  </ion-content>
</ion-view>


