<ion-tabs class="tabs-positive tabs-icon-top">


  <ion-tab title="Clipboard" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline" href="#/app/blank">
    <ion-nav-view name="clipboard-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Venues" icon-on="ion-ios-location" icon-off="ion-ios-location-outline" href="#/app/venues">
    <ion-nav-view name="venues-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Filters" icon-on="ion-ios-settings-strong" icon-off="ion-ios-settings" href="#/app/filters">
    <ion-nav-view name="filters-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Account" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/app/admin">
    <ion-nav-view name="account-tab"></ion-nav-view>
  </ion-tab>



</ion-tabs>
