<ion-view>
  <ion-nav-bar class="bar-positive">
    <!--
    <ion-nav-buttons side="left">
     <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    -->
  </ion-nav-bar>
  <ion-nav-title>
   <button class="button button-icon icon venuebutton" ng-click="go('app/map')">
    <i class="ion-map"></i>
   </button>
     <img src="img/itlyst-fork-logo.png" style="width: 20px;">
      {{active_city}}
  </ion-nav-title>

  <ion-content>
   <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="refreshVenues()">
    </ion-refresher>

  <!--<div ui-view="popup@venues"></div>-->

    
    <!-- Spinner: Show when the content is loading-->
    <ion-spinner icon="spiral" ng-hide=isDoneLoading></ion-spinner>

    <!-- Venue Content --> 
    <div ng-show="venues.length == 0 && isDoneLoading">
      <span class=number>1</span> You have no venues saved. Open a review app and copy a venue or pic url:<br>
      <span>&nbsp; &nbsp; &nbsp; &nbsp;
        <button class="hrefbutton clearbutton" ng-click="open_app('yelp')"><img src=img/yelp-app-icon.jpeg class="appicon"></button>
        <button class="hrefbutton clearbutton" ng-click="open_app('foursquare')"><img src=img/foursquare-app-icon.jpg class="appicon"></button>
        <button class="hrefbutton clearbutton" ng-click="open_app('tripadvisor')"><img src=img/tripadvisor-app-icon.jpeg class="appicon"></button>
      </span>

      <div class="row">
        <div class = "col">
          <span class=number>1</span> Find venue, tap Share<br>
          <img src="img/1-yelp-venue.jpg" class="ftueimage">&nbsp;&nbsp;
        </div>
        <div class="col">
          <span class=number>2</span> Copy the url<br>
          <img src="img/2-yelp-venue-copy.jpg" class="ftueimage">
        </div>
      </div>
      <div class="row">
        <div class="col">
        <span class=number>2</span> Navigate to the clipboard: <img src="img/clipboard-screen.png" class="clipboardimage" style="width:50px">
        </div>
      </div>



    </div>

    <div class="list" ng-repeat="item in venues">

      <body>

        <!-- Venue Header -->
        <div class="headerbar">
        <!--<ion-header-bar class="bar-subheader bar-dark">-->
          <!-- Venue Title and Buttons -->
          <div class="venuetitlecontainer">
            <!--<div style="float: left;">
              <button class="button button-icon icon ion-ios-minus-outline venue-button" ng-click="data.showDelete = !data.showDelete"></button>
            </div>-->
            <div style="float: left;">
              <button class="clearbutton headerbutton" ng-click="addNote($event, item.id)"><i class="fa fa-plus-square-o fa-1_5x mwhite" aria-hidden="true"></i></button>
            </div>
            <div style="float: right; ">
              <!--ng-click="go_venue_detail('app/venue/{{item.id}}/detail',item.id)" -->
              <button class="clearbutton headerbutton" ng-click="go_venue_detail($event, 'app.venue', item.id)"><i class="fa fa-ellipsis-h fa-1_5x mwhite" aria-hidden="true"></i></button>
              <!--<a class="button icon icon-right ion-chevron-right" href="#/app/venue/{{item.id}}/detail">Scientific Facts</a>-->
            </div>
            <div class=venuetitlediv>
             <h4 class=venuetitle>
              {{ item.name | limitTo: 20 }}{{item.name.length > 20 ? '...' : ''}} 
            </h4>
            </div>
          </div>
        </div>
        <!--</ion-header-bar>-->

        <!-- Venue Notes -->
          <!-- !!! must be a better way to seperate these two divs so tjhat they don't overlap... adding temp filler div for now -->
          <!-- bug: two comments, image wont show -->
          <div style="clear:both;"></div>


            <!--show-delete="data.showDelete"--> 
            <ion-list show-delete="false" can-swipe="true" swipe-direction="both">

              <!-- 1 image, 1 note --> 
              <div class="imageblock " ng-repeat="image in item.images" ng-if="(item.images.length == 1 && item.notes.length == 1)">
                <ion-item ng-repeat="note in item.notes" class="item-text-wrap" item="item" style="min-height:175px !important;">
                  <button class="image-button" ng-click="go('app/image/{{image.id}}')">
                    <img src="{{image.image_thumb}}" class="venueimage animated bounceInRight" >
                  </button>
                  {{note.note}} 
                  <div class="notesource">
                    <i class="fa-foursquare"   ng-if="(note.source == 'foursquare')"></i>
                    <i class="fa-yelp"         ng-if="(note.source == 'yelp')"></i>
                    <i class="fa-tripadvisor"  ng-if="(note.source == 'tripadvisor')"></i>
                    <i class="fa-user"         ng-if="(note.source == 'other')"></i>
                  </div>
                  <!--<ion-delete-button class="icon ion-minus-circled" ng-click="deleteNote(note.id)"></ion-delete-button>-->
                  <ion-option-button side="right" class="button-positive" ng-click="editNote($event,note.id,note.note)">Edit</ion-option-button>
                  <ion-option-button side="left" class="button-assertive" ng-click="deleteNote(note.id)">Delete</ion-option-button>
                </ion-item>
              </div>

              <!-- >1 image or >1 note --> 

              <ion-item ng-repeat="note in item.notes" class="item-text-wrap" item="item" 
                        ng-if="(item.images.length >= 1 || item.notes.length >= 1) && !(item.images.length == 1 && item.notes.length == 1)">
                {{note.note}} 
                <div class="notesource">
                  <i class="fa-foursquare"   ng-if="(note.source == 'foursquare')"></i>
                  <i class="fa-yelp"         ng-if="(note.source == 'yelp')"></i>
                  <i class="fa-tripadvisor"  ng-if="(note.source == 'tripadvisor')"></i>
                  <i class="fa-user"         ng-if="(note.source == 'other')"></i>
                </div>
                
                <!--<ion-delete-button class="icon ion-minus-circled" ng-click="deleteNote(note.id)"></ion-delete-button>-->
                <ion-option-button side="right" class="button-positive" ng-click="editNote($event,note.id,note.note)">Edit</ion-option-button>
                <ion-option-button side="left" class="button-assertive" ng-click="deleteNote(note.id)">Delete</ion-option-button>
              </ion-item>

            </ion-list>

            <!-- Venue Images -->
            <div style="clear:both;" ng-if="(item.images.length >= 1) && !(item.images.length == 1 && item.notes.length == 1)">
                  <div class="imageblock" ng-repeat="image in item.images">
                    <button class="image-button" ng-click="go('app/image/{{image.id}}')"><img src="{{image.image_thumb}}" class="venueimage animated bounceInRight" ></button>
                  </div>
            </div>
            <div style="clear:both"></div>

          
      </body>   
    </div>
  </ion-content>



<script id="editNotePopup" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <label class="item item-input">
        <textarea  #input id="editVenueNote" autofocus focus-me placeholder="Additional Notes">{{noteToEdit}}</textarea>
      </label>
      <span>
      <button class="button button-positive round"  ng-click="saveEditedNote()">
        Save
      </button>
      <button class="button button-stable round" ng-click="cancelEditOnNote()"> 
        <i class="icon ion-close"></i> Cancel
      </button><br>
    </span>
    </ion-content>
  </ion-popover-view>
</script>


<script id="newNotePopup" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <label class="item item-input">
        <textarea #input id="newVenueNote" autofocus focus-me placeholder="Additional notes"></textarea>
      </label>
      <span>
      <button class="button button-positive round"  ng-click="saveNewNote()">
        Save
      </button>
      <button class="button button-stable round" ng-click="cancelNewNote()"> 
        <i class="icon ion-close"></i> Cancel
      </button><br>
    </span>
    </ion-content>
  </ion-popover-view>
</script>




</ion-view>
