
<ion-view >
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>


  <ion-content>
    

    <!--<div ui-view="popup@venue"></div>-->

    <div class="list card">
      <ion-card>
         <div class="venuedetailheader">
            <h3 class="mwhite">{{ venue.name | limitTo: 25 }}{{venue.name.length > 25 ? '...' : ''}}</h3>
        </div>
       <!--
        <a href="#" class="item item-icon-left">
            <button class="button button {{venue.user_rating === 4 ? 'button-stable' : 'button-light'}} "
                    ng-click="changeUserRating(venue.id, 4 )"><i class="fa-smile-o"></i></button> 
            <button class="button button {{venue.user_rating === 3 ? 'button-stable' : 'button-light'}} "
                    ng-click="changeUserRating(venue.id, 3 )"><i class="fa-meh-o"></i></button> 
            <button class="button button {{venue.user_rating === 2 ? 'button-stable' : 'button-light'}} "
                    ng-click="changeUserRating(venue.id, 2 )"><i class="fa-frown-o"></i></button> 
            <button class="button button {{venue.user_rating === 1 ? 'button-stable' : 'button-light'}} "
                    ng-click="changeUserRating(venue.id, 1 )"><i class="fa-thumb-tack" ></i></button>
            <button class="button button {{venue.user_rating === 0 ? 'button-stable' : 'button-light'}} "
                    ng-click="changeUserRating(venue.id, 0 )"><i class="fa-circle-thin"></i></button> 
        </a>
        -->
        <a class="item item-icon-left" ng-if="venue.foursquare_rating" target="_blank" ng-click="go_uri('foursquare',venue.foursquare_id)">
          <div class="row">
            <div class="col col-10"><i class="fa-foursquare"></i></div>
            <div class="col col-50">{{venue.foursquare_rating}} out of 10</div>
            <div class="col col-20">{{venue.foursquare_reviews}} tips </div>
          </div>
        </a>
        <a class="item item-icon-left" ng-if="venue.tripadvisor_rating" target="_blank" ng-click="go_uri('tripadvisor',venue.tripadvisor_id)">
          <div class="row">
            <div class="col col-10"><i class="fa-tripadvisor"></i></div>
            <div class="col col-50">{{venue.tripadvisor_rating}} out of 5 stars</div>
            <div class="col col-20">{{venue.tripadvisor_reviews}} reviews </div>
          </div>
        </a>
        <a class="item item-icon-left" ng-if="venue.yelp_rating" target="_blank" ng-click="go_uri('yelp',venue.yelp_id)">
          <div class="row">
            <div class="col col-10"><i class="fa-yelp"></i></div>
            <div class="col col-50">{{venue.yelp_rating}} out of 5 stars</div>
            <div class="col col-20">{{venue.yelp_reviews}} reviews </div>
          </div>
        </a>
        <!--<a class="item item-icon-left venuedetailsitem"  target="_blank" href='http://www.google.com/maps/search/{{ venue.name }}/@{{ venue.latitude }},{{ item.longitude }}/14z'> -->
        <a class="item item-icon-left venuedetailsitem" target="_blank" ng-click="go_uri('gmaps','q=' + venue.name + '&center=' + venue.latitude + ',' + venue.latitude)"> 
        <!-- q=Pizza&center=37.759748,-122.427135-->
          <div class="row">
            <div class="col col-10"><i class="ion-map icon-lg" ></i></div>
            <div class="col col-40">Get Directions</div>
          </div>
        </a>
        <a class="item item-icon-left venuedetailsitem" ng-click="deleteVenue(venue.id)"> 
          <div class="row">
              <div class="col col-10 venuedetailsitem"><i class="ion-ios-trash-outline icon-lg" ></i></div>
              <div class="col col-40 venuedetailsitem">Delete Venue & Content</div>
          </div>
        </a>
      </ion-card>
    </div>


  </ion-content>




</ion-view>
</ion-nav-view>
